body {
  font-family: "Raleway", sans-serif;
  margin: 30px 10%;
}
.section1 {
  display: flex;
  flex-direction: row;
}
.grid1 {
  width: 50%;
}
.headcover {
  width: 100%;
  border-radius: 3px;
}
.content {
  display: flex;
  flex-direction: column;
}
.text {
  background: darkslateblue;
  color: white;
  opacity: 0.9;
  padding: 50px;
  border-radius: 3px;
}
p {
  font-size: 10px;
  font-weight: 700;
}
h3 {
  font-size: 26px;
  line-height: 35px;
  width: 267px;
}
p.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
}
h3,
h4,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 20px;
}
button.go {
  outline: none;
  margin-top: 20px;
  border: none;
  padding: 10px 17px;
  border-radius: 20px;
  background: inherit;
  border: 1.5px solid white;
  color: white;
  font-weight: 600;
  font-size: 10px;
  cursor: pointer;
}
button.go:hover {
  background: white;
  color: darkslateblue;
}
i.fa.fa-chevron-right {
  margin-left: 15px;
  transition: margin-left 0.5s;
}
button.go:hover > i.fa.fa-chevron-right {
  margin-left: 20px;
}

.grid2 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.food {
  width: 45.5%;
  margin: 0 0 20px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 340px;
}
.food-img {
  width: 100%;
  height: 150px;
}
.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -26px;
  margin-left: 20px;
}
h4 {
  margin-top: 10px;
  margin-left: 20px;
  color: darkslateblue;
  font-size: 18px;
  line-height: 24px;
}
.food-description p {
  font-size: 12px;
  color: gray;
  margin: 0 20px 20px 20px;
  font-weight: 500;
}
h4,
.food-description {
  margin-right: 20px;
}
.bottom-layout {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px 20px;
}
i.fa.fa-cutlery,
i.fa.fa-signal {
  color: gray;
}
span {
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
}
.headimg img {
  width: 100%;
}
.dynamic-content {
  background: #050311;
  display: flex;
  flex-direction: row;
  padding-top: 70px;
}
.box {
  background: #050311;
  width: 33.33%;
  margin: 20px;
  padding: 20px;
  transition: background-color 0.3s ease;
}
.box-heading p {
  font-size: 16px;
  color: white;
}
.box-content p {
  font-size: 12px;
  color: gray;
  line-height: 24px;
  font-weight: 400;
}
.box:hover {
  background-color: #2b2b37;
  border-radius: 5px;
}
.box:hover .box-content p {
  color: whitesmoke;
  font-weight: 200;
}
.box-active {
  background: #2b2b37;
  width: 33.33%;
  margin: 20px;
  padding: 20px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}
.box:hover ~ .box-active {
  background: #050311;
}
.section3 {
  display: flex;
  flex-direction: row;
  margin: 100px;
}
.profile {
  text-align: center;
  width: 33.33%;
  padding: 20px;
  transition: all 0.5s ease;
}
.profile:hover ~ .profile-active p.user-role {
  display: block;
}
.profile:hover ~ .profile-active p.user-desc {
  display: none;
}
.profile:hover ~ .profile-active .socila-account {
  display: none;
}
.profile:hover ~ .profile-active .user-img {
  transform: scale(1);
}
.profile-active {
  width: 33.33%;
  text-align: center;
  padding: 20px;
  transition: all 0.5s ease;
}
.profile-active .user-img {
  transform: scale(1.2);
}
.profile-active p.user-desc {
  display: block;
}
.profile-active .socila-account {
  display: block;
}
.profile-active p.user-role {
  display: none;
}
p.user-desc,
.socila-account {
  display: none;
}
.profile:hover p.user-desc {
  display: block;
}
.profile:hover .socila-account {
  display: block;
}
.profile:hover p.user-role {
  display: none;
}
img.user-img {
  width: 185px;
  height: 200px;
  border-radius: 10px;
  transition: transform 1s;
}
img.user-img:hover {
  transform: scale(1.2);
}
p.user-name {
  font-size: 18px;
  margin-top: 40px;
}
p.user-role,
p.user-desc {
  font-size: 12px;
  color: dimgray;
  font-weight: 400;
}
p.user-name,
p.user-role,
p.user-desc {
  margin-bottom: 10px;
}
.socila-account {
  color: dimgray;
}
.fa {
  padding: 10px;
}
.user-active {
  transform: scale(1.2);
}
.section2 {
  margin-top: 100px;
}
@media screen and (max-width: 420px) {
  body {
    margin: 20px;
  }
  .section1 {
    display: block;
  }
  .grid1 {
    width: 100%;
  }
  .text {
    padding: 30px;
  }
  button.go {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .grid2 {
    margin-top: 30px;
    display: block;
    width: 100%;
  }
  .food {
    width: 100%;
    margin: 0 0 15px 0px;
  }
  .dynamic-content {
    display: block;
    background: white;
    padding-top: 0;
  }
  .headimg img {
    height: 150px;
  }
  .box,
  .box-active {
    width: unset;
    background: #050311;
    margin: 30px 0 0 0;
    border-radius: 5px;
  }
  .box-active:hover {
    background: #2b2b37;
  }
  .box-active:hover .box-content p {
    color: whitesmoke;
  }
}
@media screen and (max-width: 320px) {
  .text {
    padding: 20px;
  }
  h3 {
    font-size: 22px;
  }
}
